/* Estilos generales */
body.ligth {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
body.dark {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    color:#f5f5f5
  }
  body.ligth .home{
    color: rgb(129, 10, 240);
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }
  body.dark .home{
    color:orange;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }
  /* Estilos para el Navbar */
  body.ligth nav {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  body.dark nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  body.ligth .stream{
    background-color: #fff;  
  }
  body.dark .stream{
    background-color: #484848;  
  }
  body.ligth .streambutton{
    color: #333;
    background-color: #fff;
   
  }
  body.dark .streambutton{
    color: #fff;
    background-color: #484848;
   
  }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  nav ul li :last-child {
    margin-right: 0px;
  }
  body.ligth nav button{
      padding: 8px 16px;
      background-color: rgb(8, 8, 8);
      color:#fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      outline: 0;
      border: 0;
      margin: 0;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }
  body.dark nav button{
    padding: 8px 16px;
    background-color: rgb(38, 38, 38);
    color:#fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    margin: 0;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
}
  body.ligth nav a {
    color: #333;
    text-decoration: none;
  }
  body.dark nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .logo {
    display: contents;
    position: absolute;
  }
  
  .auth-options {
    /* Estilos para las opciones de inicio de sesión y crear cuenta */
  }
  body.ligth .sign{

    padding: 8px 16px;
    background-color:transparent;
    color:#333;
    box-shadow: none;

  }

  body.dark .sign{

    padding: 8px 16px;
    background-color:transparent;
    color:#fff;
    box-shadow: none;

  }
  
  /* Estilos para la sección Main Board */
  .section-main-board {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 20px;
    height: 70vh;
  }
  /*.searching{
    margin-left: 90px;
  }*/
  
  body.ligth .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    
  }
  body.dark .card {
    background-color: #484848;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    
  }
  .section-main-board .card{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50vh;
    
  }
  
  body.ligth .card.mid{
    background-color: rgb(129, 10, 240);
    color: white;
  }

  body.dark .card.mid{
    background-color: orange;
    color: white;
  }

  .card.stream{
    justify-content: space-between;
    flex-direction: column;
  }

  .card.search{
    align-items: center;
  }
  body.ligth .searchbutton {
    padding: 8px 16px;
      background-color: rgb(8, 8, 8);
      color:#fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      outline: 0;
      border: 0;
      margin: 0;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }

  body.dark .searchbutton {
    padding: 8px 16px;
      background-color: #fff;
      color:#333;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      outline: 0;
      border: 0;
      margin: 0;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .card-options input[type="radio"]{
      display:none;
  }
  body.ligth .card-options label{
      padding: 8px 16px;
      color: darkgrey;
      background-color: #fff;
      border:none;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }
  body.dark .card-options label{
    padding: 8px 16px;
    color: #fff;
    background-color: #333;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
}
/*#484848*/
  body.ligth .card-options input[type="radio"]:checked + label{
      background-color: #f5f5f5;
      color:#333
  }

  body.dark .card-options input[type="radio"]:checked + label{
    background-color: #484848;
    color:#f5f5f5
}
  
  body.ligth .card-options a {
    color: #333;
    margin-right: 10px;
  }
  body.dark .card-options a {
    color: #fff;
    margin-right: 10px;
  }
  body.ligth .clock {
    /* Estilos para el reloj */
    padding: 2px 16px;
    color: rgb(129, 10, 240);
    background-color: #fff;
    border:none;
    border-radius:8px;
    cursor: pointer;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }
  body.dark .clock {
    /* Estilos para el reloj */
    padding: 2px 16px;
    color: orange;
    background-color: #fff;
    border:none;
    border-radius:8px;
    cursor: pointer;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  }
  
  .card img {
    /* Estilos para la imagen de la segunda tarjeta */
    margin-top: auto;
  }
  body.ligth .card.users{
    width: 192px;
    height: 256px;
    justify-content: space-between;
  }
  body.dark .card.users{
    width: 192px;
    height: 256px;
    justify-content: space-between;
    background-color:#333;
  }
  
  .game-list {
    list-style-type: none;
    display: flex;
    
  }
  
  .game-list li {
    margin-bottom: 10px;
  }
  
  /* Estilos para la sección de Categorías */
  .section-categories {
    /* Estilos para la sección de Categorías */
    margin-left: 308px;
    margin-right: 308px;
  }
  .section-categories .card{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 15px
  }
  
  .category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .category-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .category-card h3 {
    font-size: 18px;
  }
  .text{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: lighter;
  }
  body.ligth  .streaming{
    color:orange;
  }
  body.dark  .streaming{
    color:rgb(129, 10, 240);
  }
  
  .text2{
    font-family: ui-sans-serif;
    font-size: 20px;
    font-weight: lighter;
  }
  .streaming2{
    font-weight: bold;
  }
  
  .custom-select{
    position: relative;
    display: inline-block;
  }
  body.ligth .custom-select select{
    /*appearance: none;*/
    background-color: transparent;
    border: none;
    padding: 8px 30px 8px 10px;
    width: 231px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
  }
  body.dark .custom-select select{
    /*appearance: none;*/
    background-color: #333;
    border: none;
    padding: 8px 30px 8px 10px;
    width: 231px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #f5f5f5;
    
  }
  body.ligth .number{
    color: #333;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
  }
  body.dark .number{
    color: #f5f5f5;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
  }
  .mid.font{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .loginPage{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: linear-gradient(30deg, rgb(0, 53, 93) 0%, rgba(0, 0, 0, 0.99) 90%);
    height: 100vh;
  }
  .card.login{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;*/

  max-width: 820px;
  min-height: 120px;
  margin: 1rem;
  display: flex;
  border-radius: 10px;
  -webkit-box-align: center;
  align-items: center;
    
  }
  .loginButton{

    padding: 8px 16px;
    background-color: rgb(8, 8, 8);
    color:#fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    margin: 0;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
    margin: 5px;
  }
 
  body.ligth .added{
    color: rgb(129, 10, 240);
    background-color: #f5f5f5;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 5px;
    width: 20%;
    margin-left: -45px;
  }

  body.dark .added{
    color: orange;
    background-color: #f5f5f5;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 5px;
    width: 20%;
    margin-left: -45px;
  }

  .list{
    z-index: 1;
    width: 65%;

  }
  .img1{
    z-index: 1000;
    position: absolute;
    top: 340px;
    left: 807px;
    width: 370px;
  }
  .img2{
    z-index: 1000;
    position: absolute;
    top: 340px;
    left: 807px;
    width: 370px;
  }

 /* .container{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  .inputs{
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
    
  }*/